
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status-main, #status, #statement, #back
{
font-size: 18px;
}

body{
    background-size: cover;
    background-position: center;
}

canvas{
    box-shadow: 5px 5px 18px turquoise;
    border-radius: 10px;
    margin-top: 500px;
}

#images{
    width: 500px;
    height: 500px;
}

#back{
    color: white;
    box-shadow: 5px, 5px, 18px, red;
    background-color: salmon;
}
